.box {
  color: #9069EF;
  background-color: rgb(243, 243, 243);
  border: 2px solid #232525;
  font-size: 50px;
  min-height: 60px;
  margin: 10px 5px;
  text-align: center;
  width: 30%;
}

.box-container {
  /* justify-content: center; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  justify-content: space-around;
  justify-content: space-between;
  justify-content: space-evenly;
  background-color: #0fa36b;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
}